body {
    background: #000;
    color: white;
    font-family: Arial;
    text-align: center;
}

#camera-container {
    position: relative;
    display: inline-block;
}

#camera {
    width: 420px;
    height: auto;
    filter: brightness(1);
    transform: scaleX(-1); /* Mirror like FPS games */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    border: none;
    color: white;
    background: #333;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #666;
}
